<div class="relative bg-cover bg-no-repeat w-full h-screen" style="background-image:url('assets/img/about.jpeg')"></div>
<section class="w-full absolute top-0 h-screen bg-slate-900/70">
  <header class="w-full absolute top-0 z-50" #home>
    <div class="bg-slate-300 p-3 hidden md:block shadow">
      <div class="container mx-auto ">
        <div class="flex flex-row justify-between">
          <div class="space-x-3">
            <i class="fa fa-envelope text-[#1877eb]"></i>
            <a class="hover:underline text-xs cursor-pointer text-gray-600 uppercase">sales@tetraesolutions.com</a>
          </div>
          <div class="flex space-x-4">
            <div class="space-x-3">
              <i class="fa fa-phone text-[#1877eb]"></i>
              <a class="hover:underline text-xs cursor-pointer text-gray-600 uppercase">CALL US: +234 803 407 3880</a>
            </div>
            <div class="space-x-3">
              <i class="fa fa-phone text-[#1877eb]"></i>
              <a class="hover:underline text-xs cursor-pointer text-gray-600 uppercase">CALL US: +234 803 407 3880</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <nav class="w-full shadow sticky-nav z-50 mt-12" style="background-color: rgb(255, 255, 255);">
    <div class="container mx-auto ">
      <div class="flex flex-row justify-between">
        <a [routerLink]="['/home']"><img src="assets/img/logo.png" alt="" class="w-24"></a>
        <div class="">
          <ul class="nav-menu hidden md:inline-flex space-x-6 text-lg font-bold mt-5 text-[#1877eb]">
            <li routerLinkActive="active" [routerLink]="['/home']" class="nav"><a>Home</a></li>
            <li routerLinkActive="active" [routerLink]="['/about']" class="nav"><a>About Us</a></li>
            <li routerLinkActive="active" [routerLink]="['/service']" class="nav"><a>Products</a></li>
            <li routerLinkActive="active" [routerLink]="['/contact']" class="nav"><a>Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="container mx-auto">
    <div class="text-center text-white md:pt-[245px] md:pb-[213px] pt-[145px] pb-[113px]">
      <div>
        <p class="text-3xl md:text-5xl font-bold">About Us</p>
      </div>
      <div class="pt-8 w-full md:w-2/4 text-center mx-auto text-gray-300">
        <p>We pride ourselves on our customer service and support. Our team is available to answer any questions you
          have about our products or your project. We have a 24/7 support line so you can always get in touch with us.
        </p>
      </div>
    </div>
  </div>
</section>
