.nav{
  @apply hover:bg-[#1877eb]  py-2 px-3  hover:text-white cursor-pointer ;
}
.active{
  @apply bg-[#1877eb] py-2 px-3 rounded text-white;
}

.sticky-nav{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active{
  @apply text-[#1877eb] border-[#1877eb] border-b-2 ;
}

::ng-deep .mat-tab-label {
  @apply font-bold text-xl text-black w-[33%] ;
}

::ng-deep  .mat-tab-header {
  @apply text-center w-full;
}

tr td{
  @apply border p-2;
}

