<header class="w-full fixed top-0 z-50" #home>
  <div class="bg-slate-300 p-3 hidden md:block shadow">
    <div class="container mx-auto ">
      <div class="flex flex-row justify-between">
        <div class="space-x-3">
          <i class="fa fa-envelope text-[#1877eb]"></i>
          <a class="hover:underline text-xs cursor-pointer text-gray-600 uppercase">sales@tetraesolutions.com</a>
        </div>
        <div class="flex space-x-4">
          <div class="space-x-3">
            <i class="fa fa-phone text-[#1877eb]"></i>
            <a class="hover:underline text-xs cursor-pointer text-gray-600 uppercase">CALL US: +234 803 407 3880</a>
          </div>
          <div class="space-x-3">
            <i class="fa fa-phone text-[#1877eb]"></i>
            <a class="hover:underline text-xs cursor-pointer text-gray-600 uppercase">CALL US: +234 803 407 3880</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full shadow" style="background-color: rgb(255, 255, 255);">
    <div class="container mx-auto ">
      <div class="flex flex-row justify-between">
        <a [routerLink]="['/home']"><img src="assets/img/logo.png" alt="" class="w-24"></a>
        <div class="">
          <ul class="nav-menu hidden md:inline-flex space-x-6 text-lg font-bold mt-7 text-[#1877eb]">
            <li routerLinkActive="active" class="nav"><a (click)="scroll(home)">Home</a></li>
            <li routerLinkActive="active" class="nav"><a (click)="scroll(about)">About Us</a></li>
            <li routerLinkActive="active" class="nav"><a (click)="scroll(service)">Service</a></li>
            <li routerLinkActive="active" class="nav"><a (click)="scroll(contact)">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="w-full h-screen">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="w-full flex items-center">
        <div class="container mx-auto pt-6">
          <div class="flex justify-around mt-32">
            <div class="">
              <img src="assets/img/1phase.png" class="rounded-2xl" alt="">
            </div>
            <div class="mt-40">
              <h1 class="text-4xl text-[#1877eb] font-bold">Meter Service Dashboard</h1>
              <p class="text-gray-700 text-center pt-2">Stay in control of your electricity cost.</p>
              <div class="text-center pt-8 space-x-10 mx-auto">
                <a class="read-more">Read more</a>
                <a class="btn">Get Started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="w-full relative top-0 h-screen flex items-center "
        style="background-image:url('/assets/img/machine.png'); background-repeat: no-repeat; background-size: cover;">
        <div class="w-full absolute h-screen bg-slate-700 bg-opacity-50">
          <div class="container mx-auto ">
            <div class="flex items-center" style="height: 700px;">
              <div class="text-6xl font-bold">
                <div class="items-center text-center">
                  <p class="">TETRAELECTRIC</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="w-full h-screen relative"
        style="background-image:url('/assets/img/hero3.jpeg'); background-repeat: no-repeat; background-size: cover;">
        <div class="w-full absolute h-screen bg-slate-700 bg-opacity-50">
          <div class="container mx-auto ">
            <div class="flex items-center" style="height: 700px;">
              <div class="text-center text-6xl font-bold">
                <h1 class="text-white">Our Service Provide<br> Quality Assurance To</h1>
                <p class="text-[#1877eb]">Our Customers</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

  </owl-carousel-o>
</section>

<section class="mt-16 container mx-auto" #service #contact #about>
  <div class="text-center">
    <p class="text-[#1877eb] text-3xl font-bold">Our Service</p>
    <hr class=" border-[#1877eb] w-20 mx-auto border mt-1">
    <p class="text-gray-400 font-semibold pt-3">We provides premium goods that adhere to all international
      requirements. Our
      team
      members
      are manufacturing
      professionals who can provide OEM and ODM services in accordance with your unique needs.
    </p>
  </div>
</section>

<section class="bg-slate-200 w-full mt-20" #service #contact #about>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="container mx-auto">
        <div class="flex md:flex-row  flex-col space-x-10">
          <div class="p-4">
            <img src="assets/img/service2.png" alt="">
            <p class="font-bold text-xl">Single Phase Meter Enclosure </p>
            <p class="mt-4">ME13 Single phase meter enclosure is specially designed for the purpose of anti-tamper and
              protection of
              meter.
              One DIN rail type meter and one 2P MCB can be mounted with bottom connection. The material of enclosure is
              polycarbonate with UV resistance and V0 frame resistance degree. Pole mounted or wall mounted or lock and
              key
              protection are based on project demand. Alarm sensor for enclosure opening is reserved function.</p>

          </div>
          <div class="p-4">
            <img src="assets/img/service2.png" alt="">
            <p class="font-bold text-xl">Double Phase Meter Enclosure </p>
            <p class="mt-4">ME13 Single phase meter enclosure is specially designed for the purpose of anti-tamper and
              protection of
              meter.
              One DIN rail type meter and one 2P MCB can be mounted with bottom connection. The material of enclosure is
              polycarbonate with UV resistance and V0 frame resistance degree. Pole mounted or wall mounted or lock and
              key
              protection are based on project demand. Alarm sensor for enclosure opening is reserved function.</p>

          </div>
          <div class=" p-4">
            <img src="assets/img/service2.png" alt="">
            <p class="font-bold text-xl">Three Phase Meter Enclosure </p>
            <p class="mt-4">ME13 Single phase meter enclosure is specially designed for the purpose of anti-tamper and
              protection of
              meter.
              One DIN rail type meter and one 2P MCB can be mounted with bottom connection. The material of enclosure is
              polycarbonate with UV resistance and V0 frame resistance degree. Pole mounted or wall mounted or lock and
              key
              protection are based on project demand. Alarm sensor for enclosure opening is reserved function.</p>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="container mx-auto">
        <div class="flex md:flex-row  flex-col space-x-10">
          <div class="p-4">
            <img src="assets/img/service2.png" alt="">
            <p class="font-bold text-xl">Single Phase Meter Enclosure </p>
            <p class="mt-4">ME13 Single phase meter enclosure is specially designed for the purpose of anti-tamper and
              protection of
              meter.
              One DIN rail type meter and one 2P MCB can be mounted with bottom connection. The material of enclosure is
              polycarbonate with UV resistance and V0 frame resistance degree. Pole mounted or wall mounted or lock and
              key
              protection are based on project demand. Alarm sensor for enclosure opening is reserved function.</p>

          </div>
          <div class="p-4">
            <img src="assets/img/service2.png" alt="">
            <p class="font-bold text-xl">Double Phase Meter Enclosure </p>
            <p class="mt-4">ME13 Single phase meter enclosure is specially designed for the purpose of anti-tamper and
              protection of
              meter.
              One DIN rail type meter and one 2P MCB can be mounted with bottom connection. The material of enclosure is
              polycarbonate with UV resistance and V0 frame resistance degree. Pole mounted or wall mounted or lock and
              key
              protection are based on project demand. Alarm sensor for enclosure opening is reserved function.</p>

          </div>
          <div class=" p-4">
            <img src="assets/img/service2.png" alt="">
            <p class="font-bold text-xl">Three Phase Meter Enclosure </p>
            <p class="mt-4">ME13 Single phase meter enclosure is specially designed for the purpose of anti-tamper and
              protection of
              meter.
              One DIN rail type meter and one 2P MCB can be mounted with bottom connection. The material of enclosure is
              polycarbonate with UV resistance and V0 frame resistance degree. Pole mounted or wall mounted or lock and
              key
              protection are based on project demand. Alarm sensor for enclosure opening is reserved function.</p>
          </div>
        </div>
      </div>
    </ng-template>

  </owl-carousel-o>
</section>

<section class="">
  <div class="container mx-auto">
    <div class="w-full text-center text-2xl text-white font-bold mb-6">Gallery</div>
    <div>
      <ng-image-slider [images]=imageObject [autoSlide]=true [imageSize]=imagesize [infinite]="true"
        [animationSpeed]="5" [manageImageRatio]="true" #nav></ng-image-slider>

    </div>
  </div>
</section>

<section class="w-full p-16"
  style="background-image:url('/assets/img/bg.jpg'); background-repeat: no-repeat; background-size: cover;">
  <div class="container mx-auto">
    <p class="text-xl font-bold text-[#1877eb]">Why You Should Choose Us ?</p>
    <hr class=" border-[#1877eb] w-20  border mt-1">
    <div class="flex flex-col md:flex-row justify-around">
      <div class="md:w-2/5  w-full md:pt-16 pt-8">
        <p class="text-">Our Job: Your Success. We do all it takes to put all the little together that makes your
          solution stand out
          and fit into your Business.</p>
        <div class="mt-3 space-x-2 flex">
          <i class="fa fa-check text-[#1877eb] pt-1"></i>
          <p>It is our prior motive to help our client achieve their most sought after objective</p>
        </div>
        <div class="mt-3 space-x-2 flex">
          <i class="fa fa-check text-[#1877eb] pt-1"></i>
          <p>It is our prior motive to help our client achieve their most sought after objective</p>
        </div>
        <div class="mt-3 space-x-2 flex">
          <i class="fa fa-check text-[#1877eb] pt-1"></i>
          <p>It is our prior motive to help our client achieve their most sought after objective</p>
        </div>
      </div>
      <div class="md:w-2/6 w-full pt-4">
        <img src="assets/img/logo.png" alt="" class="">
      </div>
    </div>
  </div>
</section>
